.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.loading {
  color: var(--text-secondary);
  line-height: 40px;
  height: 40px;
}

@media (max-width: 1024px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
  }
}
