.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100%;
}

.child {
  width: 100%;
  max-width: 1680px;
  padding: 24px 40px;
  margin: auto;
}

@media (max-width: 640px) {
  .child {
    padding: 16px 24px;
  }
}
